
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background-color: #e3f1fe;
  min-height: 100vh;
}

.MuiDrawer-root {
  height: 100%;
}

@media (max-width: 768px) {
  .userName {
    display: none;
  }

  .bottomCard {
    min-width: 100%;
  }

  .bottomcard1 {
    min-width: 100%;

  }

  .bottomcard2 {
    min-width: 100%;

  }

  .card {
    min-width: 100%
  }

}




