
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background-color: #e3f1fe;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .userName {
    display: none;
  }

.bottomCard {
  max-width: 100%;
}
}




